@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
   list-style: none;
   text-decoration: none;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

body{
   background: #f5f6fa;
}

.wrapper .sidebar{
   background: rgb(5, 68, 104);
   position: fixed;
   top: 0;
   left: 0;
   width: 225px;
   height: 100%;
   padding: 20px 0;
   transition: all 0.5s ease;
   text-decoration: none;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.wrapper .sidebar .profile{
   margin-bottom: 30px;
   text-align: center;
}

.wrapper .sidebar .profile h3{
   color: #ffffff;
   margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
   color: rgb(206, 240, 253);
   font-size: 14px;
}

.wrapper .sidebar ul li a{
   display: block;
   padding: 13px 30px;
   border-bottom: 1px solid #10558d;
   color: rgb(241, 237, 237);
   font-size: 16px;
   position: relative;
}

.wrapper .sidebar ul li a .icon{
   color: #dee4ec;
   width: 30px;
   display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
   color: #0c7db1;
   background:white;
   border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
   color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
   display: block;
}

.wrapper .section{
   width: calc(100% - 225px);
   margin-left: 225px;
   transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
   background: rgb(7, 105, 185);
   height: 50px;
   display: flex;
   align-items: center;
   padding: 0 30px;
}

.wrapper .section .top_navbar .hamburger a{
   font-size: 28px;
   color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
   color: #a2ecff;
}

/* used to underline links */
.wrapper .section a{
   text-decoration: underline;
   font-weight: bold;
}

.wrapper .section .section1,.section2,.section3,.section4,.section5,.section6,.section7,.section8{
  margin: 30px;
  background: #fff;
  padding: 50px;
  line-height: 28px;
  color: #00008b;
  font-size: 16px;
}

.wrapper .section .section1,.section2,.section3,.section4,.section5,.section6,.section7,.section8 p{
  font-size: 16px;
}

/* not sure why the .end class not defined anywhere but here, had to be listed,
   but without it the h1 for the last class e.g. .section8, did not get presented properly */
.wrapper .section .section1,.section2,.section3,.section4,.section5,.section6, .section7, .section8, .end h1{
    text-align: center;
    color: #00008b;
    font-size: 14px;
}

.wrapper .section .section6 .insOptionsList div{
    text-align: center;
}

.wrapper .section .section6 .insOptions li{
   list-style-type: disc;
   list-style-position: inside;
   width: 50%;
   margin: auto;
   font-style: italic;
}

#siteTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

#siteTable td, #siteTable th {
  border: 1px solid #ddd;
  padding: 4px;
  text-align: left;
  font-size: 16px;
}

#siteTable tr:nth-child(even){background-color: #f2f2f2;}

#siteTable tr:hover {background-color: #ddd;}

#siteTable th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
  background-color: rgb(7, 105, 185); /* blue header */
  color: white;
}

.b1, .b2, .b3, .b4 {
   display:inline-block;
   position: relative;
   margin: 5px;
   float:center;
   width:40%;
   height:200px;
   font-size: 16px;
   background-color: #f2f2f2;
}

.boxHeader {
   background: rgb(7, 105, 185);
   color: white;
}

body.active .wrapper .sidebar{
   left: -225px;
}

body.active .wrapper .section{
   margin-left: 0;
   width: 100%;
}
